*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.map {
  width: 100vw;
  height: 100vh;
}

.marker {
  cursor: pointer;
}

/* geocoder */
.geocoder {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 50%;
  z-index: 1;
  border-radius: 4px;
}
.mapboxgl-ctrl-geocoder--input:focus {
  outline: none;
}
@media screen and (max-width: 639px) {
  .mapboxgl-ctrl-geocoder {
    height: 40px;
  }
  .mapboxgl-ctrl-geocoder--input {
    width: 100%;
    padding: 0 50px;
    font-size: 1rem;
    padding-bottom: 8px;
  }
  .mapboxgl-ctrl-geocoder--icon-search {
    top: 10px;
  }
  .mapboxgl-ctrl-geocoder--icon-close {
    margin-top: 5px;
  }
}
@media screen and (max-width: 328px) {
  .mapboxgl-ctrl-geocoder {
    min-width: 200px;
    height: 35px;
  }

  .mapboxgl-ctrl-geocoder--input {
    padding: 0 40px;
    font-size: 0.8rem;
    padding-bottom: 15px;
  }
  .mapboxgl-ctrl-geocoder--icon-search {
    top: 7px;
  }
  .mapboxgl-ctrl-geocoder--icon-close {
    margin-top: 0px;
  }
}

/* error page */

.error-page {
  display: grid;
  place-items: center;
  margin-top: 40vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.error-page h1 {
  font-size: 2rem;
  padding-bottom: 15px;
}
.error-page p {
  font-size: 1rem;
}
